*{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: roboto,sans-serif;
}
.nav-bg{
    background-color: #fff9f4;
}
.logo{
    max-width: 250px;
}
.header-img{
    background-color: #fff9f4;
}
.all-btn{
  font-size: auto;
  min-width: 125px;
    background-image: linear-gradient(45deg,rgb(62, 31, 197),rgb(16, 12, 243));
  }
  .all-btn:hover{
      transform: scale(1.1,1.1);
      background-image:linear-gradient(90deg,rgb(240, 59, 158),rgb(253, 21, 21)); ;
  }
.btn-text{
 color: white;
 }
 .fa-shopping-cart{
     color: white;
 }
 div img{
     height: 80px;
 }
 .shoes{
     background-color: #f1f1f1;
     border-radius: 10%;
 }
.shoe-footer{
    border: 0 !important;
    background-color:#ffffff !important;
}
.shoe-card{
border: 0 !important;
}
#info{
    background: linear-gradient(30deg,#000428 , #004e92);
    
}
.company-info{
    text-align: center;
    color: white;   
}
.contact-info{
    text-align: center;
    color: white;
    height: 100%;
   
}
.products-info{
    text-align: center;
    color: white;
}
footer{
    text-align: center;
}
h1,h3{
    color:#f8804c; 
}
h2,h4,h5,#nike-react{
    color:#363958;
    font-weight:bolder;
}
